# Web Framework
flask==3.0.2
werkzeug==3.0.2
gevent==24.11.1

# AI and Machine Learning
openai==1.52.2
ollama==0.3.3

# Audio Processing
pyaudio==0.2.14
sounddevice==0.5.1
soundfile==0.12.1

# Network and Communication
requests==2.31.0
zerorpc==0.6.3

# Web Processing
beautifulsoup4==4.12.3
selenium==4.26.1

# Other Tools
numpy==1.26.4


git+https://github.com/elliottzheng/everytools.git
git+https://github.com/OmniSteward/steward-utils.git